/*Все поле скроллбара.*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #0D0D0D;
}
/*Кнопки скрола вверх и вниз (зачастую имеет иконки в виде стрелок).*/
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}/*
Угол на скроллбаре, на котором как правило пересекаются вертикальный и горизонтальный скроллбар.*/
::-webkit-scrollbar-corner {
	background-color: #0D0D0D;
}
/*Сам ползунок.*/
::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 4px;
}

/*отключение*/
/*отключени доп лайк*/
.list.list--inline.coub__like-reactions{
	display: none;
}

/*горячее*/
/*Размести свой коуб на главной прямо сейчас*/
.promote-banner.box--banner{
	display: none;
}

/*избранные каналы*/
.channels-block.channels-block--list.box--banner{
	display: none;
}
/*истории*/
.timeline-right-block{
	display: none;
}
/*та фигня с боку тожде не надо*/
.channel-coubs.-clear{
	display: none;
}
/*лента которая мне нен нужнва*/
.suggests-block-col{
	display: none;
}
/*ленту видосиков по середине*/
.coub.coub--timeline.coub--normal-card.active{
	margin: auto;
}
.coub.coub--timeline.coub--normal-card{
	margin: auto;
}