/*Все поле скроллбара.*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #000;
}
/*Кнопки скрола вверх и вниз (зачастую имеет иконки в виде стрелок).*/
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}/*
Угол на скроллбаре, на котором как правило пересекаются вертикальный и горизонтальный скроллбар.*/
::-webkit-scrollbar-corner {
	background-color: #000;
}
/*Сам ползунок.*/
::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 4px;
}